name: Continuous Integration
on: [push]

env:
  GO_VERSION: "1.26.0"

jobs:
  proto:
    name: Proto
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install buf
        run: ./scripts/proto/install_buf.sh
      - name: Lint protobuf
        run: make proto-lint

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Go ${{ matrix.go }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Install dependencies
        run: go mod download
      - name: Lint
        uses: dominikh/staticcheck-action@v1.4.0
        with:
          version: "2025.1.1"
          install-go: false
      - name: Test
        run: make test
